body {
    display: flex;
    flex-direction: column;
    flex: 1;
    justify-content: center;
}

.header {
    display: flex;
    background-color: rgb(34, 49, 9);
    justify-content: space-between;
    padding-top: 8px;
    padding-bottom: 8px;
    height: 32px;
}

.logo {
    color: white;
}

.headerlinks {
    color: lightgray
}

.body1 {
    display: flex;
    justify-content: space-between;
    background-color: rgb(34, 49, 9);
    padding-top: 16px;
    padding-bottom: 16px;
    height: 128px;
}

.leftdiv1 {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.b1header {
    color: white;
}

.text {
    color: lightslategray;
}

.firstbutton {
    color: white;
    background-color: royalblue;
    padding: 8px 16px;
}

.body2 {
    display: flex;
    flex-direction: column;
    gap: 16px;
    background: white;
    align-items: center;
    height: 128px;
}

.b2header {
    text-align: center;
    color: black;
    font-size: 22px;
}

.b2icons {
    display: flex;
    justify-content: center;
    gap: 4px;
}

.icon {
    height: 32px;
    width: 32px;
    border-color: royalblue;
    border-radius: 15px;
}

.text2 {
    text-align: center;
    color: lightslategray;
}

.body3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: grey;
    height: 128px;
    justify-content: center;
}

.quote {
    font-style: italic;
    font-size: 22px;
    color: black;
}

.quote2 {
    text-align: right;
    font-weight: bold;
    font-size: 16px;
}

.body4 {
    margin-left: 64px;
    margin-right: 64px;
    margin-top: 32px;
    margin-bottom: 32px;
    background-color: royalblue;
    border-radius: 15px;
    padding: 8px 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 128px;
}

.b3left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 4px;
}

.b3text {
    font-size: 16px;
    color: white;
}

.secondbutton {
    border-color: white;
    color: white;
    background-color: royalblue;
    padding: 8px 16px;
    border-radius: 15px;
}

